.mercury {
    margin: 0;
    width: 420px;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
  }
  .avatar-icon {
    height: 74.3px;
    width: 76.5px;
    position: relative;
    border-radius: 178px;
    object-fit: contain;
  }
  .language {
    position: relative;
    display: inline-block;
    min-width: 124px;
  }
  .frame-child,
  .frame-item {
    width: 6.9px;
    height: 6.1px;
    position: absolute;
    margin: 0 !important;
    right: 0.6px;
    bottom: 7.9px;
    object-fit: contain;
  }
  .frame-item {
    width: 6px;
    height: 6px;
    right: -5.5px;
    bottom: 8px;
  }
  .language-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 21px 11px 0 0;
    position: relative;
  }
  .frame-inner {
    width: 25px;
    height: 25px;
    position: relative;
    object-fit: contain;
  }
  .vector-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 0 0;
  }
  .vn {
    position: relative;
    display: inline-block;
    min-width: 51px;
  }
  .frame-div {
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
  }
  .avatar-parent,
  .frame-container,
  .frame-div {
    display: flex;
    align-items: flex-start;
  }
  .frame-container {
    flex-direction: column;
    justify-content: flex-start;
    padding: 21px 0 0;
  }
  .avatar-parent {
    flex-direction: row;
    justify-content: center;
    gap: 34.5px;
  }
  .frame-wrapper,
  .mercury-parent {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    padding: 8px 0 0;
    box-sizing: border-box;
    font-size: 24px;
  }
  .mercury-parent {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .line-div {
    width: 700px;
    height: 1px;
    position: relative;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    max-width: 100%;
  }
  .auctions,
  .result,
  .sell {
    position: relative;
    display: inline-block;
    min-width: 96px;
  }
  .result,
  .sell {
    min-width: 46px;
  }
  .result {
    min-width: 72px;
  }
  .result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 12px 0 0;
  }
  .category1 {
    position: relative;
    display: inline-block;
    min-width: 101px;
  }
  .category-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 13px 0 0;
  }
  .blog {
    position: relative;
    display: inline-block;
    min-width: 52px;
  }
  .sell-parent {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: "Source Serif Pro";
  }
  .auctions-parent,
  .frame-nav,
  .sell-parent {
    margin: 0;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .auctions-parent {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-start;
    gap: 56px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: "Source Serif Pro";
  }
  .frame-nav {
    width: 583px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 6px;
    box-sizing: border-box;
  }
  .magnifyingglass1 {
    height: 28px;
    flex: 1;
    position: relative;
    line-height: 50px;
    display: flex;
    font-weight: 900;
    align-items: center;
    justify-content: center;
  }
  .magnifyingglass {
    width: 28px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .placeholder-label {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.41px;
    line-height: 22px;
    font-weight: 300;
  }
  .content,
  .placeholder-label-wrapper {
    flex: 1;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .placeholder-label-wrapper {
    display: flex;
    flex-direction: column;
    padding: 3px 0 0;
    max-width: 100%;
    text-align: left;
    font-size: 17px;
  }
  .content {
    border-radius: 10px;
    background-color: #000;
    border: 1px solid #fff;
    padding: 2px 7px;
  }
  .content,
  .frame-parent1,
  .searchbar {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .searchbar {
    width: 416px;
    border: 1px solid #000;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 1px;
  }
  .frame-parent1 {
    width: 1321px;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
  }
  .frame-wrapper1,
  .frame-wrapper2,
  .line-parent {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-wrapper2 {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
  }
  .frame-wrapper1,
  .line-parent {
    justify-content: flex-start;
  }
  .line-parent {
    flex: 1;
    flex-direction: column;
    gap: 6px;
  }
  .frame-wrapper1 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 6.3px 28px;
    box-sizing: border-box;
    font-size: 18px;
  }
  .category2 {
    position: relative;
  }
  .category-container,
  .frame-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .category-container {
    flex-direction: row;
    padding: 0 53px;
    font-size: 36px;
  }
  .frame-group {
    align-self: stretch;
    flex-direction: column;
    gap: 25.7px;
    max-width: 100%;
    text-align: center;
    font-size: 64px;
    color: #fff;
    font-family: "Source Serif Pro";
  }
  .bracelet {
    height: 2087px;
    width: 1182px;
    position: relative;
    background-color: #d2cac4;
    border: 1px solid #fff;
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .bracelet1,
  .image-25-icon {
    position: relative;
    z-index: 1;
  }
  .image-25-icon {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .bracelet1 {
    text-decoration: underline;
    display: inline-block;
    min-width: 103px;
  }
  .bracelet-wrapper {
    width: 371px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .image-25-parent,
  .image-27-icon {
    align-self: stretch;
    max-width: 100%;
  }
  .image-25-parent {
    height: 433px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 17px;
    box-sizing: border-box;
    gap: 8px;
  }
  .image-27-icon {
    flex: 1;
    position: relative;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .cufflinks-tie-pins,
  .tie-clips {
    margin: 0;
  }
  .cufflinks-tie-pins-container {
    width: 233px;
    position: relative;
    text-decoration: underline;
    display: inline-block;
    z-index: 1;
  }
  .cufflinks-tie-pins-tie-clip-wrapper,
  .image-27-parent {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .cufflinks-tie-pins-tie-clip-wrapper {
    flex-direction: row;
    padding: 0 77px 0 72px;
  }
  .image-27-parent {
    height: 451px;
    flex-direction: column;
    gap: 8px;
  }
  .image-29-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .loose-stones {
    width: 277px;
    position: relative;
    text-decoration: underline;
    display: inline-block;
    z-index: 1;
  }
  .image-29-parent,
  .loose-stones-beads-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 47px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .image-29-parent {
    align-self: stretch;
    height: 440px;
    flex-direction: column;
    padding: 0 0 21px;
    gap: 11px;
  }
  .image-31-icon,
  .rings {
    position: relative;
    z-index: 1;
  }
  .image-31-icon {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .rings {
    text-decoration: underline;
    display: inline-block;
    min-width: 71px;
  }
  .frame-parent2,
  .image-31-parent,
  .rings-wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .rings-wrapper {
    width: 371px;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .frame-parent2,
  .image-31-parent {
    flex-direction: column;
    justify-content: flex-start;
  }
  .image-31-parent {
    align-self: stretch;
    height: 419px;
    gap: 11px;
  }
  .frame-parent2 {
    flex: 1;
    gap: 55px;
    min-width: 248px;
  }
  .image-26-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .brooches-pins {
    position: relative;
    text-decoration: underline;
    z-index: 1;
  }
  .brooches-pins-wrapper,
  .image-26-parent {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
  }
  .brooches-pins-wrapper {
    flex-direction: row;
    justify-content: center;
    padding: 0 22px 0 20px;
  }
  .image-26-parent {
    height: 416px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
  }
  .earrings,
  .image-28-icon {
    position: relative;
    z-index: 1;
  }
  .image-28-icon {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .earrings {
    text-decoration: underline;
    display: inline-block;
    min-width: 107px;
  }
  .earrings-wrapper,
  .image-28-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 21px 0 20px;
  }
  .image-28-parent {
    height: 434px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 18px;
    box-sizing: border-box;
    gap: 8px;
  }
  .image-30-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .necklaces-pendants {
    position: relative;
    text-decoration: underline;
    z-index: 1;
  }
  .image-30-parent,
  .necklaces-pendants-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 55px 0 53px;
  }
  .image-30-parent {
    height: 423px;
    flex-direction: column;
    padding: 0 0 4px;
    box-sizing: border-box;
    gap: 11px;
  }
  .image-32-icon,
  .watches {
    position: relative;
    z-index: 1;
  }
  .image-32-icon {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .watches {
    text-decoration: underline;
    display: inline-block;
    min-width: 105px;
  }
  .watches-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 23px 0 20px;
  }
  .image-32-parent {
    align-self: stretch;
    height: 419px;
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
  .bracelet-parent,
  .frame-parent3,
  .image-32-parent {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 72px;
    min-width: 248px;
    max-width: 100%;
  }
  .bracelet-parent {
    width: 1182px;
    background-color: #d2cac4;
    border: 1px solid #fff;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 87px 116px 88px 114px;
    gap: 186px;
  }
  .bracelet-parent,
  .frame-parent,
  .frame-section {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-section {
    width: 1346px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
    font-size: 28px;
    color: #000;
    font-family: "Source Serif Pro";
  }
  .frame-parent {
    width: 1425px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 20px 0 0;
    gap: 68px;
  }
  .mercury-auction-llc {
    position: relative;
    letter-spacing: 2px;
    line-height: 21px;
    text-transform: uppercase;
  }
  .mercury-auction-llc-2024-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 24px 0 20px;
  }
  .category {
    width: 100%;
    position: relative;
    background-color: #010600;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px 0 21px;
    box-sizing: border-box;
    gap: 276px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: 11px;
    color: #b3b3b1;
    font-family: ABeeZee;
  }
  @media screen and (max-width: 1200px) {
    .bracelet-parent {
      gap: 93px;
      padding: 57px 58px 57px 57px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .mercury-parent {
      flex-wrap: wrap;
    }
    .frame-nav {
      display: none;
    }
    .frame-parent1 {
      width: 738px;
    }
    .category2 {
      font-size: 29px;
    }
    .bracelet-parent {
      padding-top: 37px;
      padding-bottom: 37px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {
    .auctions-parent {
      gap: 28px;
    }
    .bracelet-parent {
      gap: 46px;
      padding: 24px 29px 24px 28px;
      box-sizing: border-box;
    }
    .frame-parent {
      gap: 34px;
    }
    .category {
      gap: 138px;
    }
  }
  @media screen and (max-width: 450px) {
    .avatar-parent {
      flex-wrap: wrap;
      gap: 17px;
    }
    .auctions-parent {
      display: none;
    }
    .frame-nav {
      width: 0;
    }
    .category2 {
      font-size: 22px;
    }
    .category-container {
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
    }
    .bracelet1,
    .cufflinks-tie-pins-container {
      font-size: 22px;
    }
    .cufflinks-tie-pins-tie-clip-wrapper {
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
    }
    .loose-stones {
      font-size: 22px;
    }
    .loose-stones-beads-wrapper {
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
    }
    .rings {
      font-size: 22px;
    }
    .frame-parent2 {
      gap: 27px;
    }
    .brooches-pins,
    .earrings,
    .necklaces-pendants {
      font-size: 22px;
    }
    .necklaces-pendants-wrapper {
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
    }
    .watches {
      font-size: 22px;
    }
    .frame-parent3 {
      gap: 36px;
    }
    .bracelet-parent {
      gap: 23px;
    }
    .frame-parent {
      gap: 17px;
    }
    .category {
      gap: 69px;
    }
  }
  