.mercury {
    margin: 0;
    width: 420px;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    white-space: nowrap;
    max-width: 100%;
  }
  .avatar-icon {
    height: 74.3px;
    width: 76.5px;
    position: relative;
    border-radius: 178px;
    object-fit: contain;
  }
  .language {
    position: relative;
    display: inline-block;
    min-width: 124px;
    white-space: nowrap;
  }
  .language-separator-one,
  .language-separator-two {
    width: 6.9px;
    height: 6.1px;
    position: absolute;
    margin: 0 !important;
    right: 0.6px;
    bottom: 7.9px;
    object-fit: contain;
  }
  .language-separator-two {
    width: 6px;
    height: 6px;
    right: -5.5px;
    bottom: 8px;
  }
  .language-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 21px 11px 0 0;
    position: relative;
  }
  .currency-great-grandparent-child {
    width: 25px;
    height: 25px;
    position: relative;
    object-fit: contain;
  }
  .currency-great-grandparent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 0 0;
  }
  .vn {
    position: relative;
    display: inline-block;
    min-width: 51px;
    white-space: nowrap;
  }
  .currency-grandparent {
    flex-direction: row;
    gap: 8px;
  }
  .avatar-grandparent,
  .currency-grandparent,
  .currency-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .currency-parent {
    flex-direction: column;
    padding: 21px 0 0;
  }
  .avatar-grandparent {
    flex-direction: row;
    gap: 34.5px;
  }
  .avatar-parent,
  .mercury-grandparent {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .avatar-parent {
    flex-direction: column;
    justify-content: flex-start;
    padding: 8px 0 0;
    box-sizing: border-box;
    font-size: 24px;
  }
  .mercury-grandparent {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .content-separator,
  .mercury-parent {
    box-sizing: border-box;
    max-width: 100%;
  }
  .mercury-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 7px 0 0;
  }
  .content-separator {
    width: 700px;
    height: 1px;
    position: relative;
    border-top: 1px solid #fff;
  }
  .auctions,
  .result,
  .sell {
    position: relative;
    display: inline-block;
    min-width: 96px;
  }
  .result,
  .sell {
    min-width: 46px;
  }
  .result {
    min-width: 72px;
  }
  .result-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 14px 0 0;
  }
  .category-icon {
    align-self: stretch;
    height: 14px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
  }
  .category-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 14px 0 0;
  }
  .blog {
    position: relative;
    display: inline-block;
    min-width: 52px;
  }
  .sell-blog-parent {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .navigation-links,
  .navigation-options,
  .sell-blog-parent {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .navigation-links {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-start;
    gap: 56px;
  }
  .navigation-options {
    width: 583px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 6px;
    box-sizing: border-box;
  }
  .magnifyingglass1 {
    height: 28px;
    flex: 1;
    position: relative;
    line-height: 50px;
    display: flex;
    font-weight: 900;
    align-items: center;
    justify-content: center;
  }
  .magnifyingglass {
    width: 28px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .placeholder-label {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.41px;
    line-height: 22px;
    font-weight: 300;
  }
  .content,
  .placeholder-parent {
    flex: 1;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .placeholder-parent {
    display: flex;
    flex-direction: column;
    padding: 3px 0 0;
    max-width: 100%;
    text-align: left;
    font-size: 17px;
  }
  .content {
    border-radius: 10px;
    background-color: #000;
    border: 1px solid #fff;
    padding: 2px 7px;
  }
  .content,
  .navigation-parent,
  .searchbar {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .searchbar {
    width: 416px;
    border: 1px solid #000;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 1px;
    font-size: 18px;
  }
  .navigation-parent {
    width: 1321px;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
  }
  .navigation-parent-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    max-width: 100%;
  }
  .content-separator-parent,
  .mercury-parent-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
  }
  .content-separator-parent {
    align-items: flex-start;
    padding: 0 0 0 28px;
    box-sizing: border-box;
    gap: 6px;
    font-size: 20px;
  }
  .mercury-parent-parent {
    align-items: flex-end;
    gap: 25.7px;
    text-align: center;
    font-size: 64px;
    color: #fff;
    font-family: "Source Serif Pro";
  }
  .back-to-home {
    text-decoration: underline;
  }
  .back-to-home-container {
    position: relative;
  }
  .back-home-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 9px;
  }
  .image-slider-child {
    width: 547px;
    height: 1523px;
    position: relative;
    background-color: #5f4a3a;
    display: none;
    max-width: 100%;
  }
  .image-2-icon,
  .image-3-icon,
  .image-4-icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 1;
  }
  .image-2-icon {
    flex: 1;
    max-height: 100%;
  }
  .image-3-icon,
  .image-4-icon {
    height: 414px;
    flex-shrink: 0;
  }
  .image-4-icon {
    height: 402px;
  }
  .image-slider,
  .jelwerypic {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .image-slider {
    align-self: stretch;
    flex: 1;
    background-color: #5f4a3a;
    flex-direction: column;
    padding: 56px 23px 69px;
    gap: 84px;
  }
  .jelwerypic {
    height: 1559px;
    width: 551px;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    padding: 16px 0 20px 4px;
    min-width: 551px;
  }
  .k-victorian-pearl,
  .title-separator-icon {
    position: relative;
    flex-shrink: 0;
    debug_commit: bf4bc93;
  }
  .k-victorian-pearl {
    margin: 0;
    align-self: stretch;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .title-separator-icon {
    width: 654px;
    max-height: 100%;
    object-fit: contain;
    max-width: 100%;
  }
  .title-great-grandparent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 9px;
    max-width: 100%;
  }
  .estimate {
    font-weight: 700;
    font-family: "Source Serif Pro";
  }
  .estimate-400-600 {
    margin: 0;
  }
  .starting-bid {
    font-weight: 700;
  }
  .span {
    font-family: "Source Serif Pro";
  }
  .starting-bid-375 {
    margin: 0;
  }
  .estimate-400-600-starting-container {
    width: 333px;
    position: relative;
    font-size: 24px;
    display: inline-block;
    max-width: 100%;
  }
  .title-grandparent,
  .title-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .title-grandparent {
    flex: 1;
    flex-direction: column;
    gap: 12.1px;
  }
  .title-parent {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 8px 9px;
    box-sizing: border-box;
    font-size: 48px;
  }
  .rectangle-icon {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .place-bid {
    position: absolute;
    top: 10px;
    left: 37px;
    font-size: 24px;
    display: inline-block;
    font-family: "Source Serif Pro";
    color: #fff;
    text-align: center;
    min-width: 120px;
    z-index: 1;
  }
  .place-bid-button-grandparent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    height: 45px;
    flex: 1;
    position: relative;
  }
  .place-bid-button-parent {
    width: 212px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 9px 6px;
    box-sizing: border-box;
  }
  .category {
    min-width: 72px;
  }
  .category-bracelet {
    position: relative;
  }
  .category-label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 8px 10.5px;
    text-align: center;
  }
  .description,
  .description-parent-child {
    position: relative;
    flex-shrink: 0;
    debug_commit: bf4bc93;
  }
  .description-parent-child {
    align-self: stretch;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    margin-top: -1px;
  }
  .description {
    display: inline-block;
    font-weight: 700;
    min-width: 124px;
  }
  .description-grandparent,
  .description-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .description-grandparent {
    flex-direction: row;
    padding: 0 9px;
  }
  .description-parent {
    width: 654px;
    flex-direction: column;
    gap: 20.6px;
    max-width: 100%;
    text-align: center;
  }
  .a-late-19th {
    flex: 1;
    position: relative;
    white-space: pre-wrap;
    display: inline-block;
    max-width: 100%;
  }
  .auction-description,
  .auction-details {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .auction-description {
    flex-direction: row;
    padding: 0 5px 0 7px;
    box-sizing: border-box;
  }
  .auction-details {
    flex-direction: column;
    gap: 18px;
    text-align: left;
  }
  .footer-child {
    width: 654px;
    position: relative;
    max-height: 100%;
    object-fit: contain;
    max-width: 100%;
    flex-shrink: 0;
  }
  .condition {
    position: relative;
    display: inline-block;
    font-weight: 700;
    min-width: 106px;
  }
  .condition-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 9px;
  }
  .minor-wear {
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .minor-wear-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    box-sizing: border-box;
    max-width: 100%;
    flex-shrink: 0;
    text-align: left;
  }
  .footer-item {
    width: 654px;
    position: relative;
    max-height: 100%;
    object-fit: contain;
    max-width: 100%;
    flex-shrink: 0;
  }
  .global-shipping {
    position: relative;
    font-weight: 700;
  }
  .global-shipping-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 9px;
  }
  .with-customers-in {
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .footer,
  .shipping-description-parent {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .shipping-description-parent {
    flex-direction: row;
    padding: 0 1px 0 7px;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: left;
  }
  .footer {
    flex-direction: column;
    gap: 19.8px;
  }
  .content-header-child {
    width: 654px;
    position: relative;
    max-height: 100%;
    object-fit: contain;
    max-width: 100%;
    flex-shrink: 0;
  }
  .post-auction-support {
    position: relative;
    font-weight: 700;
  }
  .content-titles {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 9px;
  }
  .as-a-full-service {
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .content-header,
  .content-subtitles {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .content-subtitles {
    flex-direction: row;
    padding: 0 0 0 9px;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: left;
  }
  .content-header {
    flex-direction: column;
    gap: 18.1px;
  }
  .frame-child {
    width: 654px;
    position: relative;
    max-height: 100%;
    object-fit: contain;
    max-width: 100%;
    flex-shrink: 0;
  }
  .bidding-guidelines {
    position: relative;
    font-weight: 700;
  }
  .bidding-title-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 9px;
  }
  .please-remember-that {
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .please-remember-that-once-you-wrapper,
  .vector-parent {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .please-remember-that-once-you-wrapper {
    flex-direction: row;
    padding: 0 0 0 7px;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: left;
  }
  .vector-parent {
    flex-direction: column;
    gap: 18.1px;
  }
  .content-header-item {
    width: 654px;
    position: relative;
    max-height: 100%;
    object-fit: contain;
    max-width: 100%;
  }
  .conditions-of-sale {
    position: relative;
    font-weight: 700;
  }
  .conditions-of-sale-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 9px;
  }
  .we-encourage-all {
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .content-header1,
  .we-encourage-all-potential-bid-wrapper {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .we-encourage-all-potential-bid-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 0 9px;
    box-sizing: border-box;
    text-align: left;
  }
  .content-header1 {
    gap: 18px;
  }
  .content-details,
  .content-header1,
  .content-parent {
    flex-direction: column;
    justify-content: flex-start;
  }
  .content-details {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    gap: 34px;
    max-width: 100%;
  }
  .content-parent {
    flex: 1;
    padding: 28px 0 0;
    box-sizing: border-box;
    min-width: 439px;
  }
  .body,
  .content-parent,
  .frame-parent,
  .image-banner,
  .image-parent {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .image-parent {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    gap: 96px;
    font-size: 24px;
  }
  .body,
  .frame-parent,
  .image-banner {
    justify-content: flex-start;
  }
  .image-banner {
    flex: 1;
    flex-direction: column;
    gap: 20px;
  }
  .body,
  .frame-parent {
    box-sizing: border-box;
  }
  .body {
    align-self: stretch;
    flex-direction: row;
    padding: 0 43px 0 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: "Source Serif Pro";
  }
  .frame-parent {
    width: 1425px;
    flex-direction: column;
    padding: 0 20px 0 0;
    gap: 38px;
  }
  .mercury-auction-llc {
    position: relative;
    letter-spacing: 2px;
    line-height: 21px;
    text-transform: uppercase;
  }
  .copyright,
  .view-jewelry {
    display: flex;
    align-items: flex-start;
  }
  .copyright {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px;
  }
  .view-jewelry {
    width: 100%;
    position: relative;
    background-color: #010600;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 0 9px;
    box-sizing: border-box;
    gap: 167px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: 11px;
    color: #b3b3b1;
    font-family: ABeeZee;
  }
  
  
  .popup {
    display: none; /* Ẩn popup theo mặc định */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền đen với độ mờ */
}

.popup-content {
    color:#000;
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #080000;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
}

.bid-summary {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
}

.value {
    display: flex;
    align-items: center;
}

.dropdown-button,
.info-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    color: #555;
}

.dropdown-button:hover,
.info-button:hover {
    color: #000;
}
.PlaceBid_Button {
  font-size: 25px; /* Kích thước chữ */
  background-color: rgb(99 186 238);
  color: white;
}
  @media screen and (max-width: 1400px) {
    .sell-blog-parent {
      display: none;
    }
    .body,
    .image-slider {
      box-sizing: border-box;
    }
    .image-slider {
      padding-top: 36px;
      padding-bottom: 45px;
    }
    .body {
      padding-right: 21px;
    }
  }
  @media screen and (max-width: 1200px) {
    .jelwerypic {
      flex: 1;
    }
    .image-parent {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 825px) {
    .navigation-links {
      gap: 28px;
    }
    .content {
      display: none;
    }
    .searchbar {
      width: 0;
    }
    .image-slider {
      gap: 42px;
      padding-top: 23px;
      padding-bottom: 29px;
      box-sizing: border-box;
    }
    .jelwerypic {
      min-width: 100%;
    }
    .k-victorian-pearl {
      font-size: 38px;
    }
    .content-details {
      gap: 17px;
    }
    .content-parent {
      min-width: 100%;
    }
    .image-parent {
      gap: 48px;
    }
    .frame-parent {
      gap: 19px;
    }
    .view-jewelry {
      gap: 83px;
    }
  }
  @media screen and (max-width: 450px) {
    .avatar-grandparent {
      gap: 17px;
    }
    .back-to-home-container {
      font-size: 16px;
    }
    .image-slider {
      gap: 21px;
      padding-top: 20px;
      padding-bottom: 20px;
      box-sizing: border-box;
    }
    .k-victorian-pearl {
      font-size: 29px;
    }
    .a-late-19th,
    .as-a-full-service,
    .bidding-guidelines,
    .category-bracelet,
    .condition,
    .conditions-of-sale,
    .description,
    .estimate-400-600-starting-container,
    .global-shipping,
    .minor-wear,
    .place-bid,
    .please-remember-that,
    .post-auction-support,
    .we-encourage-all,
    .with-customers-in {
      font-size: 19px;
    }
    .image-parent {
      gap: 24px;
    }
    .view-jewelry {
      gap: 42px;
    }
  }
  