body {
    margin: 0;
    padding: 0;
    background-color: black;

}

.Header {
    justify-content: center;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    padding-left: 150px;
    background-color: rgb(156, 145, 145);
    padding-bottom: 10px;
    z-index: 1000;

}

.UpHeader {
    display: flex;
}

.Mercury {
    text-decoration: none;
    color: white;
    font-size: 40px;
    padding: 0 0 0 20px;
    font-weight: bold;
}

.Login_CreaAccount {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    margin: 20px 0 0 500px;
    justify-content: center;
    font-size: 20px;
}
.NavLink_Style{
    text-decoration: none;
    color: white;
}

.LoginStyle {
    text-decoration: none;
    color: white;
    margin: 0 0 0 100px;
}

.Line {
    margin-top: 5px;
    display: flex;
}

.Search {
    font-size: 17px;
    margin-left: 80px;
    background-color: black;
    border: solid white;
    padding-left: 10px;
    color: white;
    border-radius: 3px;
}

.Down_Header {
    display: flex;
    font-size: 17px;
    margin-top: 5px;
    float: left;
    font-weight: bold;
    margin-left: 10px;
}

.Bar_Home {
    font-size: 17px;
    font-weight: bold;
    display: flex;
}

.world_bar_style {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    margin-left: 80px;

}

.HomePage {
    margin-top: 105px;
    color: white;
}

.BackGrounPic {
    width: 1560px;
    height: 600px;

}

.HomeBackGround {
    display: flex;
}

.Introduction {
    position: absolute;
    z-index: 500;
    font-size: 20px;
    margin: 250px 500px 200px 152px;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.ViewJewelries {
    background-color: rgb(93, 28, 198);
    font-size: 24px;
    margin-top: 20px;
    color: #f1e9e9;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.UpcomingAuctions {
    display: flex;
}
.UpcomingAuctionsTitle {
    margin-top: 50px;
    padding-left: 150px;
    display: flex;
}

.JewelryImg_HomePage {
    width: 288px;
    height: 255px;
    border-radius: 10px;
    border-color: white;
}
.JewelryName_HomePage{
    width: 288px;
}
.JewelryDate_HomePage_Upcoming{
    color: red;
}
.ViewJewelry_HomePage_UpcomingAuctions{
    padding-left: 150px;
}
.JewelryDate_HomePage_{
    color: white;
}
.Footer{
    margin-top: 30px;
    background-color: rgb(156, 145, 145);
    color: white;
    padding-left: 10px;
    padding-top: 30px;
    width: 100%;
    margin-right: 1000000px;
}
.Footer_Small{
    font-size: 22px;
    padding-left: 150px;
}
.Footer_Style{
    font-size: 24px;
    padding: 30px;
}
.Footer_Info{
    display: flex;
}
