body {
  margin: 0;
  padding: 0;
  background-color: rgb(253, 253, 253);
  /* color: rgb(0, 0, 0); */
  display: flex;
  justify-content: center;
}


.HomePage {
    margin-top: 105px;
    color: white;

}

.BackGrounPic {
  width: 100%;
  max-width: 1560px;
  height: 800px;
  object-fit: cover;
}

.HomeBackGround {
  display: flex;
}

.Introduction {
    position: absolute;
    z-index: 500;
    font-size: 20px;
    margin: 125px 750px 300px 152px;
    justify-content: center;
    font-style: italic;
    color: rgb(0, 0, 0);
    margin-top: 180px;
}

.IntroText {
    
    margin-right: 200px;
}

.ViewJewelries {
    background-color: #710101;
    font-size: 24px;
    margin-top: 20px;
    color: #f1e9e9;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.UpcomingAuctions {
    display: flex;
}

.UpcomingAuctionsTitle {
    margin-top: 50px;
    padding-left: 150px;
    display: flex;
    color: black;
}

.JewelryImg_HomePage {
    width: 288px;
    height: 255px;
    border-radius: 10px;
    border-color: white;
}

.JewelryName_HomePage {
    width: 288px;
}

.JewelryDate_HomePage_Upcoming {
    color: red;
}

.ViewJewelry_HomePage_UpcomingAuctions {
    padding-left: 150px;
    color: black ;
}

.JewelryDate_HomePage_ {
    color: white;
}

.LogoutButton {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.LogoutButton:hover {
    text-decoration: underline;
}
/* src/AuctionInfo.css */

.auction-container {
    align-items: center;
    padding: 20px;
    color: black;
    padding-left: 190px;
  }
  
  .auction-intro {
    margin-bottom: 20px;
    margin-right: 200px;
    color: black;
  }
  
  .auction-intro h1 {
    font-size: 2em;
    margin-bottom: 10px;
    padding: 20px;
    color: black;
  }
  
  .auction-intro button {
    padding: 10px 20px;
    margin-left: 450px;
    font-size: 1em;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
  }
  
  .auction-sections {
    padding: 40px;
    padding-left: 90px;
    display: flex;
    width: 100%;
    color: black;
  }
  
  .auction-section {
    text-align: center;
    max-width: 300px;
    margin: 0 10px;
    color: #000;
  }
  
  .auction-section img {
    width: 100%;
    height: auto;
  }
  
  .auction-section h2 {
    font-size: 1.5em;
    margin-top: 10px;
    color: #000;
  }
  
  .auction-section p {
    font-size: 1em;
    margin-top: 10px;
  }
  .Header .Down_Header .world_bar_style {
    position: relative;
  }
  
  .CategoryList {
    position: absolute;
    margin-left: -89px;
    background-color: #ffffff;
    border: 1px solid #f9e9e9;
    color: black;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; /* Đảm bảo CategoryList luôn ở trên cùng */
  }
  
  .CategoryItem {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .CategoryItem:last-child {
    border-bottom: none;
  }

  