.Header {
  color: #3f2305;
}

.UpHeader,
.Down_Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
}

.Mercury {
  color: #3f2305;
  font-size: 24px;
  font-weight: bold;
}

.Login_CreaAccount {
  display: flex;
  align-items: center;
}

.LoginStyle,
.LogoutButton {
  color: #3f2305;
  text-decoration: none;
  margin-left: 10px;
}

.world_bar_style {
  color: #3f2305;
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.Line img {
  width: 100%;
}

.Bar_Home {
  display: flex;
  align-items: center;
  gap: 15px;
}

.AuctionsList,
.CategoryList {
  background-color: white;
  position: absolute;
  top: 100%;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
}

.CategoryItem,
.AuctionItem {
  cursor: pointer;
}

.AuctionsList {
  padding: 10px;
  width: 190px;
  left: 50%;
  transform: translateX(-50%);
}

.CategoryItem:hover {
  background-color: #e8e8e8;
  color: rgb(255, 255, 255);
}
.ProfileDropdown{
  border-style: solid;
  border: rgb(0, 0, 0);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(0, 0, 0); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
.ProfileItem, .Logout {
  padding: 20px;
  cursor: pointer;
}
.Logout:hover {
  background-color: #fb0707; 
}
.ProfileItem:hover{
  background-color: #333;
}
.ProfileMenu {
  position: relative;
}